<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Admits</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemTapped(item)">
      <ion-icon [name]="item.icon" item-start>
      </ion-icon>
      <h2>{{item.pname}}</h2>
      <h3>{{item.pid}}</h3>
      <h4>{{item.ward}}</h4>
      <p>{{item.injury}} </p>
      <ion-note item-end>03/05/2018 <br/> 3:43 pm</ion-note>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.pname}}</b>
  </div>
</ion-content>
