<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
          <ion-icon [name]="item.icon" item-start>
          </ion-icon>
          <h2>{{item.pname}}</h2>
          <h3>{{item.pid}}</h3>
          <h4>{{item.role}}</h4>
          <ion-note item-end>{{item.level}}</ion-note>
        </ion-item>
      </ion-list>
    
      <div *ngIf="selectedItem" padding>
          You navigated here from <b>{{selectedItem.pname}}</b>
      </div>
</ion-content>
